.art-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 5rem;
    max-width: 90%;
    align-self: center;
    font-family: sans-serif;
}
#a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-3 {
    color: rgb(82, 58, 8);
}